# subnet_a
subnet 172.16.0.0 netmask 255.255.255.0 {
  range 172.16.0.20 172.16.0.254;
  option domain-name-servers 8.8.8.8, 8.8.4.4;
  option subnet-mask 255.255.255.0;
  option routers 172.16.0.1;
  option broadcast-address 172.16.0.255;
  default-lease-time 3600;
  max-lease-time 7200;
  interface enp0s8;
}

#subnet_b
subnet 10.10.0.0 netmask 255.255.255.0 {
  range 10.10.0.20 10.10.0.254;
  option domain-name-servers 8.8.8.8, 8.8.4.4;
  option subnet-mask 255.255.255.0;
  option routers 10.10.0.1;
  option broadcast-address 10.10.0.255;
  default-lease-time 3600;
  max-lease-time 7200;
  interface enp0s9;
}

#subnet_dmz
subnet 10.0.0.0 netmask 255.255.255.0 {
  range 10.0.0.20 10.0.0.254;
  option domain-name-servers 8.8.8.8, 8.8.4.4;
  option subnet-mask 255.255.255.0;
  option routers 10.0.0.1;
  option broadcast-address 10.0.0.255;
  default-lease-time 3600;
  max-lease-time 7200;
  interface enp0s10;
}
